<!-- linux_arp -->
{% extends "framebase.html" %}
{% block content %}
<div class="ui segment" id="myframe">
<h4 class="ui dividing header">ARP表</h4>
<table class="ui celled table">
  <thead>
    <tr>
      <th>IP</th>
      <th>MAC</th>
      <th>DevName</th>
    </tr>
  </thead>
  <tbody>
    {% if resdata %}
    {% for record in resdata %}
    <tr>
      <td>{{ record['IP'] }}</td>
      <td>{{ record['MAC'] }}</td>
      <td>{{ record['Interface'] }}</td>
    </tr>
    {% endfor %}
    {% endif %}
  </tbody>
</table>
</div>
<script language="javascript">
function reSize(){
  parent.document.getElementById("iframe_arp").height=document.getElementById("myframe").offsetHeight-10;
} 
window.onload=reSize;
</script>
{% endblock %}