<!-- check_idt -->
{% extends "framebase.html" %}
{% block content %}
<div class="ui segment" id="myframe">
<h4 class="ui dividing header">显示IDT</h4>
<div class="ui toggle checkbox">
    <input type="checkbox" name="public">
    <label>只显示HOOKED</label>
  </div>
<table class="ui celled table">
  <thead>
    <tr>
      <th>Index</th>
      <th>Address</th>
      <th>Symbol</th>
    </tr>
  </thead>
  <tbody>
    {% if resdata %}
    {% for record in resdata %}
    <tr>
      <td>{{ record['Index'] }}</td>
      <td>{{ record['Address'] }}</td>
      <td>{{ record['Symbol'] }}</td>
    </tr>
    {% endfor %}
    {% endif %}
  </tbody>
</table>
</div>
<script language="javascript">
function reSize(){
  parent.document.getElementById("iframe_check_idt").height=document.getElementById("myframe").offsetHeight-10;
} 
window.onload=reSize;
</script>
{% endblock %}