<!-- psaux -->
{% extends "framebase.html" %}
{% block content %}
<div class="ui segment" id="myframe">
<div class="ui icon input">
  <input type="text" placeholder="Search...">
  <i class="search icon"></i>
</div>
<table class="ui celled table">
  <thead>
    <tr>
      <th>Pid</th>
      <th>Uid</th>
      <th>Gid</th>
      <th>Arguments</th>
    </tr>
  </thead>
  <tbody>
    {% if resdata %}
    {% for record in resdata %}
    <tr>
      <td>{{ record['Pid'] }}</td>
      <td>{{ record['Uid'] }}</td>
      <td>{{ record['Gid'] }}</td>
      <td>{{ record['Arguments'] }}</td>
    </tr>
    {% endfor %}
    {% endif %}
  </tbody>
</table>
</div>
<script language="javascript">
function reSize(){
  parent.document.getElementById("iframe_psaux").height=document.getElementById("myframe").offsetHeight-39 ;
} 
window.onload=reSize;
</script>
{% endblock %}