{% extends "base.html" %}
{% block content %}
<body id='home'>
<div class="ui fixed inverted blue menu">
  <a class="item" style='margin-left: 13rem;padding: 1.2rem;' href='/'>
    <i class="home icon"></i>HawkEye Lab
  </a>
</div>
<div class="ui hidden clearing divider"></div>
<br/><br/><br/><br/>
<div class="ui relaxed center aligned fitted stackable grid">
<div class="ui eight wide left aligned column">

<div class="ui success message">
  <div class="header">
    注册成功.
  </div>
  <p>现在您可以使用注册所用的用户名与密码<a href='login'>登陆系统</a>.</p>
  <p>请阅读以下说明:</p>
  <ul>
  <li>1>.扫描器仅供学习使用,请勿用于其他用途.</li>
  <li>2>.Under Developing.</li>
  </ul>
  <p>@le4f ::Team L::</p>
</div>

</div>
</div>
<br/><br/>
</body>
</html>
{% endblock %}